.edit-restriction-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}
.Employee-details-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.employee-label{
    color: #0088ff;
}