.edit-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-icon {
    background-color: white;
    width: 20px;
    height: 20px;
}