
.recipe-id-navlink {
    color: blue;
}
.recipe-id-navlink:hover {
    color: coral;
}
.recipe-record-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
}
.recipes-table-data {
    border: 1px solid #f1f1f1;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recipe-name-data-table-cell {
    cursor: pointer;
    color: #0088ff;
    text-decoration: underline;
}
.recipe-name-data-table-cell:hover {
   // color: #f1f1f1;
   // background-color: #2563eb;
}