.main-header {
    background-color: #ffffff;

/*/ / createna flex to display compponents in same row shown to the left display: flex;*/
    justify-content: space-between;
    align-items: flex-start;
    /*/ / height is 15%;*/


}