.signup-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.signup-name {
    display: flex;
    justify-content: space-between;
}

.signup-name label {
    width: 48%;
}

.signup-form-text-field {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ced4da;
    padding-left: 10px;
    border-style: solid;
    margin-right: 100px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.or-divider {
    text-align: center;
    color: #6c757d;
    margin: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-text {
    text-align: left;
    color: #6c757d;
    margin-top: 10px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.signup-name-input-field {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ced4da;
    padding-left: 10px;
    border-style: solid;
}

.password-input-field {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ced4da;
    padding-left: 10px;
    border-style: solid;
}