.recipe-input {
    margin-top: 20px;
    position: relative;
}

.error-message {
    color: #ff6b6b;
    font-size: 0.8rem;
    margin-top: 5px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.new-recipe-name,
.new-recipe-description {
    position: relative;
}

.new-ingredient-creation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.new-ingredient-creation input {
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}